@reference 'tailwindcss';
.container {
    @apply mx-auto p-6;
}

.gridMain {
    @apply grid grid-cols-1 gap-8 md:grid-cols-2;
}

.mainImageWrapper {
    @apply aspect-square overflow-hidden rounded-lg bg-neutral-800;
}

.mainImage {
    @apply h-full w-full object-cover;
}

.previewWrapper {
    @apply mt-3 flex gap-2;
}

.previewItem {
    @apply h-20 w-20 cursor-pointer overflow-hidden rounded-md border border-neutral-700;
}

.productInfo {
    @apply flex flex-col gap-6;
}

.productName {
    @apply text-xl font-bold wrap-anywhere;
}

.productPrice {
    @apply text-2xl font-semibold text-green-400;
}

.optionGroup {
    @apply space-y-3;
}

.optionLabel {
    @apply mb-1 text-sm text-gray-400;
}

.colorsWrapper {
    @apply mb-2 flex gap-2;
}

.colorItem {
    @apply h-8 w-8 cursor-pointer rounded-full border-2 border-neutral-700;
}

.sizesWrapper {
    @apply flex gap-2;
}

.sizeButton {
    @apply cursor-pointer rounded-lg border px-5;
}

.cartControls {
    @apply flex items-center gap-4;
}

.quantityInput {
    @apply w-16 rounded border px-2 py-1 text-center;
}

.shortDescription {
    @apply text-gray-300;
}

.fullDescription {
    @apply mt-6 leading-relaxed text-gray-300;
}

.relatedSection {
    @apply mt-16 flex flex-col;
}

.relatedGrid {
    @apply grid grid-cols-2 gap-6 md:grid-cols-4;
}

.relatedItem {
    @apply aspect-square w-full overflow-hidden rounded bg-neutral-800;
}

.relatedImage {
    @apply h-full w-full object-cover;
}

.addToCartButton {
    @apply w-40 h-10 rounded px-4 py-2 font-semibold transition-colors;
    background-color: #00ff9d;
    color: #000;
}

.inCart {
    @apply bg-white
}

.addToCartButton:hover {
    background-color: #00d67f;
}
